<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
  <style>
    body {
      background-color: #0e1c33;
      color: white;
      text-align: center;
    }
  </style>
  
  </head>
  <body>
    <div id="app" class="app">
      <h3>Você está numa rota de testes com
        <br/> Websocket :D
      </h3>
    </div>

    <script>
      const app = Vue.createApp({
        async created() {
          const socket = io(new URLSearchParams(window.location.search).get('url'))

          socket.emit('eventoX')
        }
      })

      app.mount('#app')
    </script>
  </body>
</html>